data/bdd100k/*
data/test_videos/*

!data/bdd100k/.gitkeep
!data/test_videos/.gitkeep

results/*
!results/.gitkeep

deep_learning_approach/model/*
!deep_learning_approach/model/.gitkeep

__pycache__/
*.pyc
.ipynb_checkpoints/

venv/
.venv/